<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.ItemMapper">
    <select id="findById" resultType="com.example.springbootdemo.entity.Item">
        SELECT id , item_name FROM item WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.example.springbootdemo.entity.Item">
        SELECT id , item_name FROM item ORDER BY id
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item (item_name) VALUES (#{item.itemName})
    </insert>
    <update id="update">
        UPDATE item
        SET item_name = #{item.itemName}
        WHERE
        id = #{item.id}
    </update>
    <delete id="delete">
        DELETE FROM item WHERE id = #{id}
    </delete>
</mapper>
